*.iml
.gradle
.idea/caches
.idea/libraries
.idea/workspace.xml
.idea/gradle.xml
.idea/vcs.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml

!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/modules.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.apk
*.aab
